.header {
  padding: 0 var(--pico-block-spacing-horizontal);
  background-color: var(--pico-primary-background);
}
.header svg {
  height: 20px;
  margin: -15px -8px -10px 0;
}
@media (min-width: 576px) {
  .header svg {
    height: 24px;
  }
}
@media (min-width: 768px) {
  .header svg {
    height: 28px;
  }
}
@media (min-width: 1024px) {
  .header svg {
    height: 32px;
  }
}
@media (min-width: 1280px) {
  .header svg {
    height: 36px;
  }
}
@media (min-width: 1536px) {
  .header svg {
    height: 40px;
  }
}

.header a,
.header strong {
  color: var(--pico-primary-inverse);
  text-decoration-color: var(--pico-primary-inverse);
}
.header a svg {
  width: 22px;
  margin-right: 6px;
}

.main {
  overflow: hidden;
  flex-grow: 1;
}

.sidebar {
  width: 280px;
  background-color: var(--schema-dark-background-color);
}
.sidebar ul {
  padding: var(--pico-spacing) 0;
}
.sidebar a {
  color: var(--pico-primary-inverse);
  padding: calc(var(--pico-spacing) / 2) var(--pico-spacing)
    calc(var(--pico-spacing) / 2) calc(var(--pico-spacing) + 10px);
}
.sidebar a:global(.active) {
  background-color: #63448e;
}
.sidebar a:hover {
  background-color: var(--pico-primary-background);
  text-decoration: none;
}
.sidebar li:global(.active) {
}

.docs {
  border-radius: 0;
  box-shadow: none;
  overflow: auto !important; /* override resizer */
  margin-right: calc(var(--pico-spacing) / 2);
  max-height: 100%;
  margin-bottom: 0;
}

.editor > div,
.editor :global(.cm-editor) {
  height: 100%;
}

.playground {
  margin-bottom: 0;
}
.playground > div {
  height: 100%;
}

.results {
  overflow: auto !important; /* override resizer */
}
