/**
 * Codemirror styles
 */

.cm-selectionBackground {
  background: var(--pico-text-selection-color) !important;
}
.cm-editor {
  color: var(--pico-color);
  font-size: var(--pico-font-size);
  font-weight: var(--pico-font-weight);
  line-height: var(--pico-line-height);
  font-family: var(--pico-font-family-monospace);
}
