@import "@picocss/pico/css/pico.violet.min.css";

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --schema-border-width: 1px;
  --schema-border-color: #ddd;
  --schema-border: var(--schema-border-color) solid var(--schema-border-width);
  --schema-header-height: 80px;
}
